body{
    background: rgb(89, 126, 74);
    font-family: Arial, Helvetica, sans-serif;
}
#container{ 
    width: 1100px;
    margin: 0px auto;
    border: 1px solid rgb(0, 0, 0);
}
header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px ;
text-align: center;
line-height: 100px;
color: blanchedalmond;
border-bottom: 3px dashed yellowgreen;
}
nav {
    background: oldlace;
    height: 50px;

}
nav{
    background: aquamarine;
    height:50px;
    border-bottom: 1px solid black;
}
nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix {
    clear: both;
}
#content {
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: chartreuse;
    padding: 40px;
}
 aside {
     float: left;
     width: calc(20% - 20px);
     min-height: 700px;
     background: coral;
     padding-left: 10px;
     padding-right: 10px;
 }
 .article {
     color: white;
     margin-top: 15px;
     margin-bottom: 15px;
     padding-bottom: 10px;
     border-bottom: 1px solid #eee;
 }
 .article:first-child{
     border-top: 1px solid #eee;
     padding-top: 10px;
 }
 .article h2{
     font-size: 25px;
 }
 footer {
     background: black;
     color: white; 
     text-align: center;
     height: 50px;
     line-height: 50px;
 }
